<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<body>
<form th:action="@{/updateemp}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="id" th:value="${emp.id}"><br/>
    姓名:<input type="text" name="ename" th:value="${emp.ename}"><br/>
    <label>部门号:</label>
    <select name="deptid">
        <option value="10" name="deptid" th:value="${emp.deptid}">10</option>
        <option value="20" name="deptid" th:value="${emp.deptid}">20</option>
        <option value="30" name="deptid" th:value="${emp.deptid}">30</option>
        <option value="40" name="deptid" th:value="${emp.deptid}">40</option>
    </select><br/>
    薪资:<input type="text" name="sal" th:value="${emp.sal}"><br/>
    <input type="submit" value="提交">
</form>
</body>
</html>