<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口全类名-->
<mapper namespace="com.boot03.mapper.UserMapper">
<!--查询用户信息-->
    <select id="selectOneByUsernameAndPassword" resultType="com.boot03.pojo.User">
        select *
        from user01
        where
        username = #{username,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective">
        insert into user01
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
</mapper>